<a href="https://colab.research.google.com/github/kkwh/java_lec_python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
    * 리스트의 인덱스는 **부터 시작.
    * 리스트의 마지막 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
    * `tuple`과 다른 점!

In [1]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

인덱싱(indexing)
인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소

In [ ]:
numbers[5] # 리스트 numbers의 인덱스 5 위치의 원소

In [2]:
numbers[-1] # 리스트에서 가장 마지막 원소

30

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번쨰 원소부터 잘라냄.
    * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**

In [ ]:
numbers

In [5]:
numbers[1:4]

[2, 3, 10]

In [4]:
numbers[3:6]

[10, 20, 30]

In [3]:
numbers[3:]

[10, 20, 30]

In [6]:
numbers[:3] # 리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [10]:
numbers[-3:] # 리스트에서 뒤에서 3개를 선택

[10, 20, 30]

In [8]:
numbers[0:1] # slicing -> 리스트

[1]

In [9]:
numbers[0] # indexing -> 값(숫자)

1

# 문자열(str)

* 문자들의 *리스트*.
* 문자열은 인덱스를 사용할 수 있음
* indexing, slicing 가능.

In [13]:
message = '안녕하세요, 여러분!' # 11개의 문자들로 이루어진 리스트.

In [16]:
message[0] # 문자열에서 첫번째 문자

'안'

In [14]:
message[-1] # 문자열에서 마지막 문자

'!'

In [17]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3] # 문자열에서 뒤에서 3글자

In [20]:
# 문자열 산술 연산: +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

# 리스트의 산술 연산

* `list + list`
* `list * int` 또는 `int * list`

In [18]:
[1, 2, 3] + [4, 5, 6] # concatenate

[1, 2, 3, 4, 5, 6]

In [19]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
for x in message:
    print(x)

안
녕
하
세
요
,

여
러
분
!

In [23]:
numbers = [1, 10, 5, 100]
for x in numbers:
    print(x)

1
10
5
100

In [ ]:
i = 0
while i < len(numbers):

In [26]:
for x in range(len(numbers)):
    print(x, ':' ,numbers[x])

0 : 1
1 : 10
2 : 5
3 : 100

In [29]:
for i, v in enumerate(numbers):
    print(i, ':' , v)

0 1
1 10
2 5
3 100

In [37]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트
#[11, 13, 15]
result = []
for n in range(0, len(numbers1)):
    result.append(numbers1[n] + numbers2[n])
print(result)

[11, 13, 15]

In [38]:
result = []
for x, y in zip(numbers1, numbers2):
    result.append(x + y)
result

[11, 13, 15]

파이썬에 난수를 만드는 방법.

In [41]:
import random # random 모듈을 임포트

In [42]:
# random 모듈의 random() 함수를 호출
random.random() # [0, 1) 범위(0 <= x < 1)의 실수 난수를 리턴.

0.7549753170413218

In [48]:
# random 모듈의 randrange() 함수를 호출
random.randrange(10) #[0, 10) 범위의 정수 난수를 리턴.

6

In [57]:
random.randrange(3) #[0, 3) 범위의 정수 난수를 리턴.

2

In [ ]:
random.randrange(1, 4) #[1, 4) 범위의 정수 난수를 리턴.

# Exercises

Ex 1.
빈 리스트를 생성.
1 이상 10 이하의 정수 난수 5개를 저장.
리스트의 모든 정수들의 합을 출력.
리스트의 모든 정수들의 평균을 출력.

Ex 2.
빈 리스트(numbers)를 생성.
10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

Ex 3.
빈 리스트 numbers를 만듦.
-10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

Ex 4.
gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

Ex 5.
numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.
numbers1, numbers2, multiplication, subtraction를 출력.

In [65]:
# Ex 1.
result = []
sum = 0
for x in range(5):
    result.append(random.randrange(1, 11))
    sum += result[x]
print('result: ', result)
print('총합: ', sum)
print('평균: ', sum / 5)

result:  [10, 5, 1, 4, 6]
총합:  26
평균:  5.2

In [75]:
# Ex 2.
result = []
evens = []
odds = []
for x in range(10):
    result.append(random.randrange(10, 100))
    if(result[x] % 2 == 0):
        evens.append(result[x])
    else:
        odds.append(result[x])
print('evens: ', evens)
print('odds: ', odds)

evens:  [82, 74, 42, 62, 62]
odds:  [81, 75, 65, 67, 95]

In [106]:
# Ex 3.
numbers = []
is_positive = []
for x in range(10):
    numbers.append(random.randrange(-10, 11))
    if(numbers[x] >= 0):
        is_positive.append(True)
    else:
        is_positive.append(False)
print('is_positive: ', is_positive)

is_positive:  [True, True, True, True, True, True, True, False, True, True]

In [87]:
# Ex 4.
gender_codes = []
genders = []
for x in range(10):
    gender_codes.append(random.randrange(0, 2))
    if(gender_codes[x] == 0):
        genders.append('Male')
    else:
        genders.append('Female')
print('genders: ', genders)

genders:  ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female']

In [89]:
# Ex 5.
numbers1 = []
numbers2 = []
multiplication = [] # 곱
subtraction = [] # 차

for n in range(10):
    numbers1.append(random.randrange(100))
    numbers2.append(random.randrange(100))
for x, y in zip(numbers1, numbers2):
    multiplication.append(x * y)
    subtraction.append(x - y)

print('numbers1: ', numbers1)
print('numbers2: ', numbers2)
print('multiplication: ', multiplication)
print('subtraction: ', subtraction)

numbers1:  [60, 69, 66, 42, 79, 81, 85, 3, 96, 62]
numbers2:  [59, 94, 12, 41, 22, 97, 52, 75, 44, 18]
multiplication:  [3540, 6486, 792, 1722, 1738, 7857, 4420, 225, 4224, 1116]
subtraction:  [1, -25, 54, 1, 57, -16, 33, -72, 52, 44]