<a href="https://colab.research.google.com/github/kkwh/java_lec_python/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
* 저장된 원소(아이템)들을 변경할 수 없는 리스트.
* 인덱스 기반 자료 타입
    * `append(), `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음
* 인덱스 기반 자료 타입.
    * indexing, slicing
    * 음수 인덱스도 사용 가능

In [1]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [2]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [4]:
numbers[0] # 튜플의 첫번째 원소

1

In [ ]:
numbers[-1] # 튜플의 마지막 원소

In [5]:
numbers[:3]  # 튜플에서 첫 3개의 원소들을 잘라내기.

(1, 2, 10)

In [ ]:
numbers[-3:] # 튜플에서 마지막 3개의 원소들을 잘라내기.

decomposition(분해)

In [6]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [7]:
x, y = (1, 3, 5)
print(x, y, z)

1 3

tuple & for

In [8]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [9]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
len(numbers) # 2차원 리스트 numbers의 원소 개수

In [10]:
numbers[0]

[1, 2, 3]

In [11]:
numbers[0][0]

1

Ex.
1. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드세요.
2. 2x2 모양의 [0,10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드세요.
3. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [28]:
import random

array1 = [
    [random.randrange(10) for x in range(2)],
    [random.randrange(10) for x in range(2)]
]

array2 = [
    [random.randrange(10) for x in range(2)],
    [random.randrange(10) for x in range(2)]
]

add = [[x + y for x, y in zip(array1, array2)]
              for array1, array2 in zip(array1, array2)]


print('array1: ', array1)
print('array2: ', array2)
print('add: ', add)

array1:  [[4, 6], [1, 7]]
array2:  [[6, 0], [6, 5]]
add:  [[10, 6], [7, 12]]

#Set(집합)

* 중복된 데이터를 허용하지 않음:`{1, 2, 2, 3, 3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님. 인덱스가 없음.
    * 데이터의 저장 순서가 중요하지 않음: `{1, 2, 3} = {3, 1, 2}`
    * indexing, slicing 기능을 제공하지 않음.
    * for-in 구문에서 사용할 수 있는 iterable 타입.

In [33]:
s = {1, 2, 2, 3, 3}
s

{1, 2, 3}

In [34]:
type(s)

set

In [35]:
s.add(5) # set에 원소 추가
s

{1, 2, 3, 5}

In [36]:
s.remove(3) # set의 원소를 삭제. 삭제할 원소를 아규먼트로 전달.
s

{1, 2, 5}

In [39]:
s.pop()
s

set()

In [41]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

In [43]:
s1.union(s2) #합집합

{1, 2, 3, 4, 5, 6}

In [44]:
s1.intersection(s2)

{2, 3}

In [46]:
s1.difference(s2) # 차집합: s1 - s2

{1, 4}

In [47]:
s2.difference(s1) # 차집합: s2 - s1

{5, 6}

# dict

* dictionary(사전) 형식의 데이터 타입.
* 키(key)를 기반으로 값(value)를 저장하는 데이터타입.
    * list, tuple: 인덱스 기반의 데이터 타입.
    * dict: key-value 기반의 데이터 타입.
    * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한 용도.

In [48]:
students = {1: '홍길동', 2: '허균', 3: '오쌤'}
students

{1: '홍길동', 2: '허균', 3: '오쌤'}

In [49]:
type(students)

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가지로 인덱스 연산자(`[]`)를 사용함.

In [50]:
students[1] # dict에서 key가 1인 아이템의 value

'홍길동'

In [51]:
students[10] = '홍길동' # dict에서 새로운 key-value 아이템을 추가
students

{1: '홍길동', 2: '허균', 3: '오쌤', 10: '홍길동'}

In [54]:
students[3] = 'scott'
students

{1: '홍길동', 2: '허균', 3: 'scott', 10: '홍길동'}

In [58]:
students.pop(3) # dict에서 해당하는 key의 아이템(key: value)을 삭제
students

KeyError: ignored

In [59]:
book = {
    'title': '점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'],
    'isbn': 123456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 123456789}

In [60]:
book['title']

'점프 투 파이썬'

In [61]:
book['authors'][0]

'박응용'

dict & for

In [63]:
contact = {
    'no': 1,
    'name': '오쌤',
    'phone': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'jake@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
contact

{'no': 1,
 'name': '오쌤',
 'phone': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [67]:
for k in contact:
    print(k)

no
name
phone
emails

for-in 구문에서 dict를 사용하면 키(key)를 iterarion함!

In [68]:
for k in contact:
    print(k, ':', contact[k])

no : 1
name : 오쌤
phone : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [69]:
contact.keys() #dict의 key들의 리스트를 리턴.

dict_keys(['no', 'name', 'phone', 'emails'])

In [70]:
contact.values() # dict value들의 리스트를 리턴.

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [71]:
contact.items()
# dict에서 (key, value) 튜플들의 리스트를 리턴.

dict_items([('no', 1), ('name', '오쌤'), ('phone', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [74]:
for k, v in contact.items():
    print(k, v)

no 1
name 오쌤
phone ['010-0000-0000', '02-0000-0000']
emails {'company': 'jake@itwill.co.kr', 'personal': 'jake@naver.com'}

In [76]:
emp_no = [1001, 1002, 2001, 2002] # 직원 번호
emp_name = ['King', 'Scott', 'Allen', 'Tiger'] # 직원 이름

In [82]:
# emp_no를 key로 하고 emp_no을 value로 하는 dict를 만들고 출력
# 리스트의 원소 개수만큼 반복
# dict에 key-value 아이템을 저장
emp_dict = {eno: ename for eno, ename in zip(emp_no, emp_name)}
emp_dict

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [84]:
emp = {} # key-value를 저장할 빈 dict
for no, name in zip(emp_no, emp_name): # 리스트의 원소 개수만큼 반복
    emp[no] = name  # dict에 key-value 아이템을 저장
emp

{1001: 'King', 1002: 'Scott', 2001: 'Allen', 2002: 'Tiger'}

In [93]:
strings = ['hello', 'java', 'sql', 'python', 'javascript']
# 리스트 strings의 문자열을 키로 하고, 그 문자열의 길이를 값으로 하는 dict를 만들고 출력
# strings_dict = {str: leng for str, leng in zip(strings, len(strings)) }
# strings_dict

In [98]:
string_length = dict()
for s in strings: # strings에서 원소들을 차례로 반복하면서
    string_length[s] = len(s)
string_length

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}

In [99]:
{k: len(k) for k in strings}

{'hello': 5, 'java': 4, 'sql': 3, 'python': 6, 'javascript': 10}